/* regole generali */

@media all and (max-width: 768px){
  .contenitore{
    max-width: 95%;
    margin: 0 auto;
  }
}

@media all and (min-width: 992px){
  .contenitore{
    max-width: 90%;
    margin: 0 auto;
  }
}

@media all and (min-width: 1200px){
  .contenitore{
    max-width: 80%;
    margin: 0 auto;
  }
}

.blue{
  background-color: #3a546d;
}

.green{
  background-color: #1abc9c;
  /* regole debug */
  min-height: 300px;
}

/* debug */
[class*="col-"]{
  min-height: 100px;
  background-color: red;
  border: 1px solid #000;
  margin-top: 40px;
}


/* regole header */
/* regole debug */
header{
  min-height: 200px;
}

/* regole footer */
.darkblu{
  background-color: #2c3e50;
}
