/* regole generali */

.darkblu{
  background-color: #2c3e50;
}

.blue{
  background-color: #3a546d;
}

.green{
  background-color: #1abc9c;
}

.linedivisor{
  display: inline-block;
  width: 100%;
  max-width: 10rem;
  height: 0.25rem;
  border-radius: 1rem;
  margin-bottom: 5px;
}

.fas.fa-star{
  font-size: 2rem;
  padding: 0 16px;
}

.whitebg{
  background-color: #fff;
}

.whitecl{
  color: #fff;
}

.blackbg{
  background-color: #333333;
}

.blackcl{
  color: #333333;
}

.center{
  text-align: center;
}

/* regole header */
header{
  min-height: 50px;
}

header .navbar-default{
  background-color: #2c3e50;
  border: none;
}

header .navbar-default .navbar-brand,
header .navbar-default .navbar-nav > li > a{
  color: #fff;
}

/* regole jumbotron */
.center > img{
  width: 15rem;
}

.green.jumbo img,
.green.jumbo h2,
.green.jumbo .divident,
.green.jumbo h4{
  margin-bottom: 30px;
}

/* regole main */
.image{
  /* debug */
  max-width: 25rem;
  margin: 0 auto;
}

.image>img{
  max-width: 100%;
  height: auto;
}

/* section about */

section.green button{
  background-color: inherit;
  border: 1px solid #fff;
  color: #fff;
}

/* section form */

#inputsend{
  text-align: left;
}

/* regole footer */
footer{
  /* regole di debug */
  margin-top: 50px;
}

.center.social a{
  display: inline-flex;
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.25rem;
  border: 1px solid #fff;
  border-radius: 100%;
  padding: 10px;
}

  /* regole debug */
}
