/* regole generali */


.blue{
  background-color: #3a546d;
}

.green{
  background-color: #1abc9c;
  /* regole debug */
  min-height: 300px;
}

/* debug */
[class*="col-"]{
  min-height: 100px;
  background-color: red;
  border: 1px solid #000;
  margin-top: 40px;
}


/* regole header */
/* regole debug */
header{
  min-height: 200px;
}

/* regole main */

.image{
  /* debug */
  min-width: 50px;
  min-height: 50px;
  background-color: yellow;
  margin-top: 25px;
}

/* regole footer */
.darkblu{
  background-color: #2c3e50;
}
